.about-banner {
    background: url('../../assets/image/pages/Cover-4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 500px;
}

.terms-banner {
    background: url('../../assets/image/pages/Cover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 500px;
}

.cookie-banner {
    background: url('../../assets/image/pages/Cover-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 500px;
}

.partner-banner {
    background: url('../../assets/image/pages/Cover-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 500px;
}

.privacy-banner {
    background: url('../../assets/image/pages/Cover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 500px;
}

.faq-banner {
    background: url('../../assets/image/pages/Cover-4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 500px;
}

.title {
    color: white!important;
    font-size: 65px!important;
}

.custom-shadow {
    box-shadow: 0 0rem 0.5rem rgb(0 0 0 / 16%);
}




@media screen and (max-width: 576px) {
    .banner {
        height: 15rem!important;
    }
    .banner h1 {
        display: none;
    }
    .banner h2 {
        display: block!important;
        color: white;
        font-size: 1.7rem;
    }
    .banner .col-12 {
        padding-top: 6rem!important;
    }
    .vision-mission {
        margin-top: 5rem!important;
    }
    .vision {
        margin-bottom: 6rem;
    }
    .vision .large-title {
        left: 0%!important;
        font-size: 6rem!important;
    }
    .vision h1 {
        font-size: 4.5rem!important;
        left: 12.5%!important;
    }

    .mission .large-title {
        left: -4%!important;
        font-size: 5rem!important;
    }
    .mission h1 {
        font-size: 4.5rem!important;
        left: 3.5%!important;
    }
    .why-us {
        margin-top: 4rem!important;
        margin-bottom: 8rem!important;
    }
    .why-us .large-title {
        font-size: 4rem!important;
        top: 0rem!important;
    }
    .why-us h1 {
        font-size: 3rem!important;
    }
    .why-us .side-image {
        margin-bottom: 15rem;
    }
    .why-us .side-image img {
        top: 0rem!important;
        right: 0rem!important;
        height: 20rem;
    }
    .vision .card {
        height: 17rem!important;
    }
    .mission .card {
        height: 20rem!important;
    }
}