.read {
    right: 1rem;
    bottom: 2rem;
}

.blogs p {
    margin-bottom: 0!important;
}

.article {
    left: 1rem;
    bottom: 1rem;
}
.article a {
    background-color: #002979;
    color: white!important;
    font-size: 0.8rem;
}
.article a:hover {
    background-color: blue;
    color: white;
}

.card-social i {
    font-size: 1.9rem;
    background-color: #8a6e4b;
    padding: 0.2rem 0.4rem;
}

.card-social {
    bottom: 1.5rem;
}

@media screen and (max-width: 576px) {
    .banner h1 {
        font-size: 35px!important;
        text-align: center;
    }
    .blog h3 {
        font-size: 20px;
    }

    .mySwiper3 .read {
        bottom: 1.8rem;
    }
    .card-social i {
        font-size: 1.5rem;
    }
    .read {
        bottom: 1.8rem;
    }
    .advert .left {
        height: 11rem!important;
    }
    .advert .middle-top, .advert .middle-bottom {
        height: 8rem!important;
    }
    .advert .right {
        height: 14rem!important;
        object-fit: contain !important;
    }
}