.form-label {
    font-size: 0.7rem;
    margin-bottom: 0rem!important;
}

.submit-btn {
    background: #FABF02;
}

.main-office p {
    font-weight: 500;
}








@media screen and (max-width: 576px) {
    .footer .social br {
        display: none;
    }
    .navbar-collapse {
        z-index: 1;
        background: white;
    }
    .navbar {
        padding: 0.5rem 0.5rem!important;
    }
    .links {
        padding-left: 15px!important;
    }
    .copyright-footer p {
        font-size: 0.8rem;
    }
}