@media screen and (max-width: 576px) {
    .srarchBar {
        width: 100%!important;
    }
    .contentExplore .container .headingTitle h1 {
        font-size: 40px!important;
    }
    .search-btn {
        width: 50%!important;
    }
    .contentExplore .container .exploreBody .imageCard .imageSize {
        height: 230px!important;
    }
    .contentExplore .container {
        margin-bottom: 30px!important;
    }

    .banner-top, .banner-bottom {
        height: 4rem!important;
    }

    .advert .left {
        height: 11rem!important;
    }
    .advert .middle-top, .advert .middle-bottom {
        height: 8rem!important;
    }
    .advert .right {
        height: 8rem!important;
    }
}