.social a i {
    color: black;
    font-size: 3rem;
}

.social a:hover i {
    color: #007bff;
}

.social p {
    margin-bottom: 0;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: -102px!important;
    left: 0%;
    z-index: 15;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(157, 44, 41, 0.7) , rgb(45, 26, 147, 0.7));
    transition: bottom 0.8s;
}

.trending .arrow {
    position: absolute;
    bottom: 2.5rem;
    left: 47%;
    background-color: white;
    padding: 0.3rem 0.4rem;
    border-radius: 30px;
    z-index: 999999;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.8s;
}

.trans-caption {
    bottom: 0px!important;
}

.trans-arrow {
    bottom: 8.7rem!important;
    transform: rotate(180deg);
}