.black-social a i {
    color: black;
    font-size: 3rem;
}

.black-social a:hover i {
    color: #007bff;
}

.black-social p {
    margin-bottom: 0;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: -102px!important;
    left: 0%;
    z-index: 15;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(157, 44, 41, 0.7) , rgb(45, 26, 147, 0.7));
    transition: bottom 0.8s;
}

.trending .arrow {
    position: absolute;
    bottom: 2.5rem;
    left: 47%;
    background-color: white;
    padding: 0.3rem 0.4rem;
    border-radius: 30px;
    z-index: 999999;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.8s;
}

.trans-caption {
    bottom: 0px!important;
}

.trans-arrow {
    bottom: 8.7rem!important;
    transform: rotate(180deg);
}







@media screen and (max-width: 576px) {
    .swiper {
        z-index: 0!important;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        font-size: 1.8rem!important;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        font-size: 1.8rem!important;
    }
    .hero-image .swiper img {
        height: 17rem!important;
    }
    .hero-image .side-banner img {
        height: 22rem!important;
    }
    .trending-competitions .exploreBody .imageCard .imageSize {
        height: 230px;
    }
    .trending .swiper img {
        height: 15rem!important;
    }
    .our-group .container .row .card {
        width: 140px;
        height: 140px;
    }
    .our-group .container .row .card img {
        width: 100px;
    }
    .black-social {
        margin-top: 4rem!important;
    }
}