.black-social .icons a i {
    color: black;
    font-size: 3rem;
}

.black-social .icons a:hover i {
    color: #007bff;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: -82px!important;
    left: 0%;
    z-index: 15;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(157, 44, 41, 0.7) , rgb(45, 26, 147, 0.7));
    transition: bottom 0.8s;
}

.trending .arrow {
    position: absolute;
    bottom: 2.5rem;
    left: 47%;
    background-color: white;
    padding: 0.3rem 0.4rem;
    border-radius: 30px;
    z-index: 999999;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.8s;
}

.trans-caption {
    bottom: 0px!important;
}

.trans-arrow {
    bottom: 7.6rem!important;
    transform: rotate(180deg);
}


.mySwiper3 p {
    margin-bottom: 0!important;
}

.mySwiper3 .read {
    right: 1rem;
    bottom: 1rem;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 15px;
}
.mySwiper3 .swiper-button-next:after, .mySwiper3 .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 1.2rem;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 15px;
}

.mySwiper3 .swiper-button-prev:after, .mySwiper3 .swiper-rtl .swiper-button-next:after {
    font-size: 1.2rem;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
}

.mySwiper .swiper-button-next:after, .mySwiper .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 1.2rem;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
}

.mySwiper .swiper-button-prev:after, .mySwiper .swiper-rtl .swiper-button-next:after {
    font-size: 1.2rem;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
}

.view:hover {
    background-color: blue!important;
}


.black-social p {
    margin-bottom: 0!important;
}

.black-social .read {
    right: 1rem;
    bottom: 1.4rem;
}

.article {
    left: 1rem;
    bottom: 1rem;
}
.article a {
    background-color: #002979;
    color: white!important;
    font-size: 0.8rem;
}
.article a:hover {
    background-color: blue;
    color: white;
}


.mySwiper2 .swiper-button-next:after, .mySwiper .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 1.2rem;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
}

.mySwiper2 .swiper-button-prev:after, .mySwiper .swiper-rtl .swiper-button-next:after {
    font-size: 1.2rem;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
}


@media screen and (max-width: 576px) {
    .swiper {
        z-index: 0!important;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        font-size: 1.8rem!important;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        font-size: 1.8rem!important;
    }
    .hero-image .swiper img {
        height: 17rem!important;
    }
    .hero-image .side-banner img {
        height: 28rem!important;
    }
    .trending-competitions .exploreBody .imageCard .imageSize {
        height: 230px;
    }
    .trending .swiper img {
        height: 25rem!important;
    }
    /* .our-group .container .row .card {
        width: 140px;
        height: 140px;
    } */
    /* .our-group .container .row .card img {
        width: 100px;
    } */
    .black-social {
        margin-top: 4rem!important;
    }
    .mySwiper3 .swiper-button-next:after, .mySwiper3 .swiper-rtl .swiper-button-prev:after {
        font-size: 1rem!important;
        padding: 0.8rem 1.1rem;
    }
    .mySwiper3 .swiper-button-prev:after, .mySwiper3 .swiper-rtl .swiper-button-next:after {
        font-size: 1rem!important;
        padding: 0.8rem 1.1rem;
    }
    .mySwiper .swiper-button-next:after, .mySwiper .swiper-rtl .swiper-button-prev:after {
        font-size: 1rem!important;
        padding: 0.8rem 1.1rem;
    }
    
    .mySwiper .swiper-button-prev:after, .mySwiper .swiper-rtl .swiper-button-next:after {
        font-size: 1rem!important;
        padding: 0.8rem 1.1rem;
    }

    .mySwiper2 .swiper-button-next:after, .mySwiper .swiper-rtl .swiper-button-prev:after {
        font-size: 1rem!important;
        padding: 0.8rem 1.1rem;
    }
    
    .mySwiper2 .swiper-button-prev:after, .mySwiper .swiper-rtl .swiper-button-next:after {
        font-size: 1rem!important;
        padding: 0.8rem 1.1rem;
    }
}