.main-nav ul li {
    display: inline-block;
    padding: 15px;
}
.main-nav ul li a {
    letter-spacing: 0px;
    color: #6D6D6D;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.2rem;
}
.main-nav ul li a:hover {
    color: rgba(0, 35, 122, 0.99);
}
.main-nav ul li a.active {
    border-bottom: 2px solid rgba(0, 35, 122, 1)!important;
}
.footer .first-column i {
    font-size: 1rem;
}

.footer p {
    font-size: 0.9rem;
}

.social i {
    font-size: 2rem;
    background-color: #8a6e4b;
    padding: 0.5rem 0.7rem;
}

.footer .links a {
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.footer .links a:hover {
    border-bottom: 2px solid white;
}

.footer hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid white;
}





@media screen and (max-width: 576px) {
    .footer .social br {
        display: none;
    }
    .navbar-collapse {
        z-index: 1;
        background: white;
    }
    .main-nav {
        padding: 0.5rem 0.5rem!important;
        justify-content: end;
    }
    .main-nav .navbar-nav {
        text-align: center;
    }
    .navbar-toggler {
        margin-right: 10px;
    }
    .main-nav ul li {
        padding: 10px;
    }
    .main-nav ul li a {
        display: inline-block!important;
    }
    .links {
        padding-left: 15px!important;
    }
    .copyright-footer p {
        font-size: 0.8rem;
    }
    .log-reg {
        display: block!important;
    }
}